<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= panel.title %></title>
	<link rel="stylesheet" href="main.css">
	<script src="lib/CSInterface.js"></script>
	<script src="lib/Util.js"></script>
	<script src="lib/AppConfig.js"></script>
	<script src="lib/ThemeManager.js"></script>
	<% if(panel['update-checker'] && panel['update-checker'] === true) {%><script src="lib/UpdateChecker.js"></script><% } %>
	<% if(panel['requires-auth'] && panel['requires-auth'] === true) {%><script src="auth.js"></script><% } %>
	<script src="main.js"></script>
</head>
<body>
	<div id="loader">
		<div class="container">
			<div class="loading-animation"></div>
			<h2>Loading <%= panel.title %></h2>
			<small class="version">Version <%= version %></small>
		</div>
	</div>
	<% if(panel['requires-auth'] && panel['requires-auth'] === true) {%><div id="login">
		<div class="container">
			<img src="logo/extension-logo.png" id="plugin-logo" style="<%= panel.logoStyle || '' %>">
			<h3>Welcome to <%= panel.title %></h3>
			<hr>
			<button class="green" id="login-button">Sign in with your Source account</button>
			<small class="version">Version <%= version %></small>
		</div>
	</div><% } %>
	<iframe id="app" allowTransparency="true"></iframe>
</body>
</html>
